.input-size {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

#cribStatus {
  margin-top: 10px;
}

.form-margin {
  //margin-top: %;
  margin-top: 0px;
}

.margin-t-3{
  margin: 5px;
}
.comment-area {
  border: 1px solid #9d9ea0;
  margin-top: -3%;
  padding: 3px;
}
