<div mdbSticky class="d-flex flex-row justify-content-between page-header">
  <div class="d-flex flex-row align-items-center">
    <a appGoBack
       class="d-flex flex-row align-items-center">
      <i class="fas fa-angle-left header-icon-back"></i>
    </a>
    <h5><i class="fas fa-pallet header-icon"></i>
      <span *ngIf="pageType=='new'">Add Credit Facility Template</span>
      <span *ngIf="pageType=='edit'">Edit Credit Facility Template</span>
    </h5>
  </div>

  <div class="d-flex  justify-content-end">
    <ng-container *ngIf="isApproveOrRejectValid()">
      <ng-container *appHasAnyPrivilege="masterDataPrivilege.ADMIN_MASTER_DATA_APPROVE_OR_REJECT">
        <button (click)="approve()"
                mdbBtn
                class="custom-button"
                type="button"
                color="success"
                outline="true"
                [disabled]="isDirty()"
                mdbWavesEffect>
          <span *ngIf="pageType=='edit'">Approve</span>
        </button>
        <button (click)="reject()"
                mdbBtn
                type="button"
                class="custom-button"
                color="danger"
                outline="true"
                [disabled]="isDirty()"
                mdbWavesEffect>
          <span *ngIf="pageType=='edit'">Reject</span>
        </button>
      </ng-container>
    </ng-container>
    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_CREDIT_FACILITY_TEMPLATE_ADD">
      <button *ngIf="pageType=='new'" (click)="saveUpdate()"
              class="custom-button"
              mdbBtn
              type="button"
              color="secondary"
              outline="true"
              [disabled]="!isValid() || !isDirty()"
              mdbWavesEffect>
        <span>SAVE</span>
      </button>
    </ng-container>

    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_CREDIT_FACILITY_TEMPLATE_EDIT">
      <button *ngIf="pageType=='edit'" (click)="saveUpdate()"
              class="custom-button"
              mdbBtn
              type="button"
              color="secondary"
              outline="true"
              [disabled]="!isValid() || !isDirty()"
              mdbWavesEffect>
        <span>UPDATE</span>
      </button>
    </ng-container>
  </div>

</div>

<div class="page-search-section d-flex p-2 flex-column justify-content-start align-items-start section">
  <form class="d-flex p-2 flex-column justify-content-start align-items-start w-100-p" [formGroup]="componentForm">

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="creditFacilityName" maxlength="200" formControlName="creditFacilityName"
             class="form-control"
             mdbInput>
      <label for="creditFacilityName">Facility Template *</label>
      <mdb-error *ngIf="formErrors.creditFacilityName.required">Template Name required</mdb-error>
      <mdb-error *ngIf="formErrors.creditFacilityName.maxlength">Maximum length for Template Name
        is {{formErrors.creditFacilityName.maxlength.requiredLength}}</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text"
             id="FacilityTypeName"
             maxlength="200"
             formControlName="FacilityTypeName"
             class="form-control"
             placeholder="Choose Facility Group *"
             [mdbAutoCompleter]="auto"
             mdbInput>

      <mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="I have found no results :(">
        <mdb-option *ngFor="let option of result | async" [value]="option.facilityTypeName">
          {{ option.facilityTypeName }}
        </mdb-option>
      </mdb-auto-completer>
      <!--      <label for="FacilityTypeName">Facility Group *</label>-->
      <mdb-error *ngIf="formErrors.FacilityTypeName.required">Credit Facility Group required</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="description" maxlength="200" formControlName="description" class="form-control"
             mdbInput>
      <label for="description">Description *</label>
      <mdb-error *ngIf="formErrors.description.required">Description required</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate
             type="text"
             id="maxFacilityAmount"
             maxlength="200"
             formControlName="maxFacilityAmount"
             class="form-control"
             mdbInput>
      <label for="maxFacilityAmount">Maximum Amount *</label>
      <mdb-error *ngIf="formErrors.maxFacilityAmount.required">Maximum amount required</mdb-error>
      <mdb-error *ngIf="formErrors.maxFacilityAmount.isCommaSeparatedValueError">Invalid Value</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input (keydown)="tabPressDisabled($event)" class="form-control" formControlName="minFacilityAmount"
             id="minFacilityAmount" maxlength="200"
             mdbInput
             mdbValidate
             type="text">
      <label for="minFacilityAmount">Minimum Amount *</label>
      <mdb-error *ngIf="formErrors.minFacilityAmount.required">Minimum amount required</mdb-error>
      <mdb-error *ngIf="formErrors.minFacilityAmount.isCommaSeparatedValueError">Invalid Value</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <mdb-select
        [options]="optionsSelect"
        formControlName="status"
        id="status"
        placeholder="Status"></mdb-select>
      <label for="status">Status</label>
      <mdb-error *ngIf="formErrors.status.required">Status required</mdb-error>
    </div>

    <div class="md-form d-flex flex-row mb-20 justify-content-between w-100-p p-3 m-bottom-3">
      <mdb-checkbox class="mb-2p" formControlName="showPurpose">Show Purpose</mdb-checkbox>
      <mdb-checkbox class="mb-2p" formControlName="showRepayment">Show Repayment</mdb-checkbox>
      <mdb-checkbox class="mb-2p" formControlName="showCondition">Show Condition</mdb-checkbox>
      <mdb-checkbox class="mb-2p" formControlName="showRemark">Show Remark</mdb-checkbox>
      <mdb-checkbox class="mb-2p" formControlName="showCalculator">Show Calculator</mdb-checkbox>
      <mdb-checkbox class="mb-2p" formControlName="showRentalData">Show Rental Data</mdb-checkbox>
      <mdb-checkbox class="mb-2p" formControlName="showInLead">Show In Lead</mdb-checkbox>
    </div>

    <ng-container *ngIf="pageType=='edit'" class="w-100-p">
      <app-trackeble-info class="w-100-p"
                          [updateDTO]="creditFacilityTemplateUpdateDTO">
      </app-trackeble-info>
    </ng-container>

    <!--    The Following implementation is to Vital Question integration-->
    <div class="flex-row w-100-p border p-2 m-top-20px">
      <h5 class="font-weight-semi-bold inline-item mt-2 mr-2">
        CFT Vital Question(s)
        <i mdbTooltip="Add Vital Question" placement="top"
           (click)="openModalCftVitalQuestion()"
           class="fas fa-plus color-primary icon-button ml-2" aria-hidden="true"></i>
      </h5>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <ng-container *ngFor="let col of tableColumnsForCftVitalQuestions">
              <th scope="col">{{col}}</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of dataSourceForCftVitalQuestion">
            <tr class="table-clickable-row">
              <td>{{item.vitalInfoName}}</td>
              <td>
              <span
                [class.color-green]="item.mandatory === yeNoConst.Y"
                [class.color-red]="item.mandatory === yeNoConst.N"
              >
                  {{yesNoStatus[item.mandatory]}}
                </span>
              </td>
              <td>
              <span
                [class.color-green]="item.status === statusConst.ACT"
                [class.color-red]="item.status === statusConst.INA"
              >
                  {{status[item.status]}}
                </span>
              </td>
              <td>
                <i class="fas fa-trash-alt text-black-50 input-size" aria-hidden="true"
                   color="red"
                   mdbTooltip="Delete" placement="top"
                   flat="true"
                   (click)="onChangeStatus(item)">
                </i>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <!--    The Above implementation was to Vital Question integration-->

    <div class="flex-row w-100-p border p-2 m-top-20px">
      <h5 class="font-weight-semi-bold inline-item mt-2 mr-2">
        CFT Supporting Document(s)
        <i mdbTooltip="Add supporting Doc" placement="top"
           (click)="openModalCftSupportingDoc()"
           class="fas fa-plus color-primary icon-button ml-2" aria-hidden="true"></i>
      </h5>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <ng-container *ngFor="let col of tableColumnsForCftsupportDoc">
              <th scope="col">{{col}}</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of dataSourceForCftSupportingDoc">
            <tr class="table-clickable-row">
              <td>{{item.documentName}}</td>
              <td>
              <span
                [class.color-green]="item.mandatory === yeNoConst.Y"
                [class.color-red]="item.mandatory === yeNoConst.N"
              >
                  {{yesNoStatus[item.mandatory]}}
                </span>
              </td>
              <td>
              <span
                [class.color-green]="item.status === statusConst.ACT"
                [class.color-red]="item.status === statusConst.INA"
              >
                  {{status[item.status]}}
                </span>
              </td>
              <td>
                <i class="fas fa-trash-alt text-black-50 input-size" aria-hidden="true"
                   color="red"
                   mdbTooltip="Delete" placement="top"
                   flat="true"
                   (click)="onChangeStatus(item)">
                </i>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex-row w-100-p border p-2 m-top-20px">
      <h5 class="font-weight-semi-bold inline-item mt-2 mr-2">
        CFT Interest Rate(s)
        <i mdbTooltip="Add interest rate" placement="top"
           (click)="openModalCftInterestRate()"
           class="fas fa-plus color-primary icon-button ml-2" aria-hidden="true"></i>
      </h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <ng-container *ngFor="let col of tableColumnsForCftInterestRate">
              <th scope="col">{{col}}</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of dataSourceForCftInterestRate">
            <tr class="table-clickable-row">
              <td>{{item.rateName}}</td>
              <td>{{item.interestRatingSubCategory}}</td>
              <td>{{item.rateCode}}</td>
              <td>{{item.value}}</td>
              <td>
              <span
                [class.color-green]="item.isDefault === yeNoConst.Y"
                [class.color-red]="item.isDefault === yeNoConst.N"
              >
                  {{yesNoStatus[item.isEditable]}}
                </span>
              </td>
              <td>
              <span
                [class.color-green]="item.isDefault === yeNoConst.Y"
                [class.color-red]="item.isDefault === yeNoConst.N"
              >
                  {{yesNoStatus[item.isDefault]}}
                </span>
              </td>
              <td>
             <span
               [class.color-green]="item.status === statusConst.ACT"
               [class.color-red]="item.status === statusConst.INA"
             >
                  {{status[item.status]}}
                </span>
              </td>
              <td>
                <i class="fas fa-trash-alt text-black-50 input-size" aria-hidden="true"
                   color="red"
                   mdbTooltip="Delete" placement="top"
                   flat="true"
                   (click)="onChangeStatus(item)">
                </i>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex-row w-100-p border p-2 m-top-20px">
      <h5 class="font-weight-semi-bold inline-item mt-2 mr-2">
        CFT Other Facility Information(s)
        <i (click)="openModalOtherFacilityInformation()" aria-hidden="true"
           class="fas fa-plus color-primary icon-button ml-2"
           mdbTooltip="Add interest rate" placement="top"></i>
      </h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <ng-container *ngFor="let col of tableColumnForOtherFacilityInformations">
              <th scope="col">{{col}}</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of dataSourceForCftOtherFacilityInformation">
            <tr [class.color-grey]="!item.cftOtherFacilityInfoID">
              <td (click)="openModalUpdateOrder(dataSourceForCftOtherFacilityInformation)">
                <i aria-hidden="true"
                   class="fas fa-sort text-black-50 input-size"
                   color="red" flat="true"
                   mdbTooltip="Update Order"
                   placement="top">
                </i>
              </td>
              <td>{{item.otherFacilityInfoName}}</td>
              <!--              <td>{{item.otherFacilityInfoCode ? item.otherFacilityInfoCode : 'Pending'}}</td>-->
              <td>{{item.otherFacilityInfoCode}}</td>
              <td>{{item.description}}</td>
              <td>{{item.otherFacilityInfoFieldType ? item.otherFacilityInfoFieldType : 'N/A'}}</td>
              <td>{{item.defaultValue}}</td>
              <td>
             <span
               [class.color-green]="item.status === statusConst.ACT && item.cftOtherFacilityInfoID"
               [class.color-grey]="!item.cftOtherFacilityInfoID"
               [class.color-red]="item.status === statusConst.INA && item.cftOtherFacilityInfoID"
             >
                  {{status[item.status]}}
                </span>
              </td>
              <td>
                <i (click)="onChangeStatus(item)" aria-hidden="true"
                   class="fas fa-trash-alt text-black-50 input-size"
                   color="red" flat="true"
                   mdbTooltip="Delete"
                   placement="top">
                </i>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Custom facility feild start -->
    <div class="flex-row w-100-p border p-2 m-top-20px">
      <h5 class="font-weight-semi-bold inline-item mt-2 mr-2">
        CFT Custom Facility Information(s)
        <i (click)="openModalCustomFacilityInformation()" aria-hidden="true"
           class="fas fa-plus color-primary icon-button ml-2"
           mdbTooltip="Add interest rate" placement="top"></i>
      </h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <ng-container *ngFor="let col of tableColumnForCustomFacilityInformations">
              <th scope="col">{{col}}</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of dataSourceForCftCustomFacilityInformation">
            <tr [class.color-grey]="!item.cftOtherFacilityInfoID">
              <td (click)="openModalUpdateCustomInfoOrder(dataSourceForCftCustomFacilityInformation)">
                <i aria-hidden="true"
                   class="fas fa-sort text-black-50 input-size"
                   color="red" flat="true"
                   mdbTooltip="Update Order"
                   placement="top">
                </i>
              </td>
              <!-- <td>{{item.displayOrder+ 1}}</td> -->
              <td>{{item.customFacilityInfoName}}</td>
              <td>{{item.customFacilityInfoCode}}</td>
              <td>{{item.description}}</td>
              <td>{{item.fieldType ? item.fieldType : 'N/A'}}</td>
              <td>
             <span
               [class.color-green]="item.status === statusConst.ACT && item.cftCustomFacilityInfoID"
               [class.color-grey]="!item.cftCustomFacilityInfoID"
               [class.color-red]="item.status === statusConst.INA && item.cftCustomFacilityInfoID"
             >
                  {{status[item.status]}}
                </span>
              </td>
              <td>
                <i (click)="onChangeStatus(item)" aria-hidden="true"
                   class="fas fa-trash-alt text-black-50 input-size"
                   color="red" flat="true"
                   mdbTooltip="Delete"
                   placement="top">
                </i>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Custom facility feild end -->


  </form>
</div>
