.facilityPaper-exposure-tbl {
  .fp-tx-data {
    div {
      align-items: center;
      width: 34%;
      text-align: center;

      .w-100-p {
        width: 100%;
      }
    }

    .te-header {
      font-weight: bold;
    }
  }

  .group-exposure {
    div {
      padding: 5px;
    }
  }
}

.facility-content {
  margin-left: 15%;
}

.jumbotron {
  padding: 15px 0;
}

.topics {
  padding-top: 2% !important;
}
