.facility-paper-search-status {
    display: block;
    align-content: center;
    width: 50%;
    min-width: 80px;
  
    mdb-badge {
      display: block;
    }
  }
  
  .status-icon {
    text-align: center;
    padding: 5px;
    width: 80px;
  }
  
  .icon-padding {
    padding-top: 2px;
  }
  
  .customer-name-col {
    width: 25%;
  }
  
  .status-img-width {
    width: 35px;
    margin-left: 5%;
    padding: 3px;
  }
  