
body {
  font-weight: 400;
}

.f-no-space {
  margin: 0;
  padding: 0;
}

.f-light {
  font-weight: 300 !important;
}

.f-regular {
  font-weight: 400 !important;
}

.f-medium {
  font-weight: 500 !important;
}

.f-semi-bold {
  font-weight: 600 !important;
}

.f-bold {
  font-weight: 700 !important;
}

.bold-font {
  font-weight: 700 !important;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.semi-bold-font {
  font-weight: 500 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fs-1-4 {
  font-size: 1.4rem;
}

.fs-1-2 {
  font-size: 1.2rem;
}

.fs-1-1 {
  font-size: 1.1rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-0-9 {
  font-size: 0.9rem;
}

.fs-0-8 {
  font-size: 0.8rem;
}

.break-all-words {
  word-break: break-all;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
