.w-2-p {
  width: 2%;
}

.w-5-p {
  width: 5%;
}

.w-10-p {
  width: 10%;
}

.w-12-p {
  width: 12%;
}

.w-14-p {
  width: 14%;
}

.w-15-p {
  width: 15%;
}

.w-16-p {
  width: 16%;
}

.w-18-p {
  width: 18%;
}

.w-19-p {
  width: 19%;
}

.w-20-p {
  width: 20%;
}

.w-22-p {
  width: 22%;
}

.w-22-5-p {
  width: 22.5%;
}

.w-23-p {
  width: 23%;
}

.w-24-p {
  width: 24% !important;
}

.w-25-p {
  width: 25%;
}

.w-29-p {
  width: 29%;
}

.w-30-p {
  width: 30%;
}

.w-31-p {
  width: 31%;
}

.w-32-p {
  width: 32%;
}

.w-33-p {
  width: 33%;
}

.w-40-p {
  width: 40%;
}

.w-45-p {
  width: 45%;
}

.w-48-p {
  width: 48%;
}

.w-49-p {
  width: 49%;
}

.w-49-5-p {
  width: 49.5%;
}

.w-50-p {
  width: 50%;
}

.w-60-p {
  width: 60%;
}

.w-68-p {
  width: 68%;
}

.w-70-p {
  width: 70%;
}

.w-79-p {
  width: 79%;
}

.w-85-p {
  width: 85%;
}

.w-89-p {
  width: 89%;
}

.w-90-p {
  width: 90%;
}

.w-94-p {
  width: 94%;
}

.w-95-p {
  width: 95%;
}

.w-98-p {
  width: 98%;
}

.w-75-p {
  width: 75%;
}

.w-100-p {
  width: 100%;
}

.h-100-p {
  height: 100%;
}

.min-width-80 {
  min-width: 80px;
}

.min-width-85 {
  min-width: 85px;
}

.min-width-120 {
  min-width: 120px;
}

.min-width-150 {
  min-width: 150px;
}

.width-65-p {
  width: 65px !important;
}

.width-100-p {
  width: 100px !important;
}
