//.page-section {
//  border: 1px solid #6a9ed3;
//  margin: 0.5rem 0;
//
//  &:first-child {
//    margin-top: 1rem;
//  }
//
//  .info-section {
//    margin: 3px 15px 3px 0;
//    min-width: 250px;
//
//    .info-caption {
//      margin-right: 5px;
//    }
//  }
//}

.read-view-btn {
  min-width: 135px;
  padding: 0.4rem 1rem !important;
}

.info-caption {
  margin: 10px;
  width: 25%;
}

.w-5 {
  width: 5% !important;
}

.w-3 {
  width: 3% !important;
}

.w-35-p {
  width: 35% !important;
}

.w-37-p {
  width: 37% !important;
}

.w-42-p {
  width: 42% !important;
}

.w-45-p {
  width: 45% !important;
}

.w-62-p {
  width: 62% !important;
}

.info-details {
  margin-top: 10px;
  width: 70%;
}

.margin-10 {
  margin: 10px;
}

.btn-width {
  width: 97px;
}
