.risk-option{
    background-color: #ADD8E6;
}

.risk-opinion-sec{
    // margin-left: 20px;
    background-color: #FFF;
    padding-left: 20px;
}

.created-user-sec{
    font-size: 14px;
    font-weight: 500;
    padding-top: 50px;
}

.date-sec{
    display: flex;;
}

.modified-date-sec{
    padding-left: 800px;
}

