<div class="modal-header modal-topic">
  <h4 class="modal-title w-100 font-weight-bold">{{heading}}</h4>
  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body mx-3 modal-detail form-margin">
  <ng-container>
    <div class="d-flex flex-column justify-content-start w-100-p">
      <div class="mb-3">
        <div class="float-right">
          <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_UPLOAD_SUPPORTING_DOCUMENTS">
            <ng-container *ngIf="isAbleToEdit()">
              <i class="fas fa-plus text-black-50 pr-sm-3 "
                 aria-hidden="true"
                 mdbTooltip="Add Documents" placement="top"
                 (click)="openModalFacilityDocumentUpload(facilityData,{})">
              </i>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Supporting Document</th>
            <th>Mandatory</th>
            <th>Remark</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="documentList.length>0 ; else noRecords">
            <ng-container *ngFor="let item of documentList; let i=index">
              <tr>
                <td>{{item.supportingDocumentName}}</td>
                <td>{{yesNo[item.mandatory]}}</td>
                <td>{{item.remark}}</td>
                <td>
                  <div>
                    <button class="btn btn-sm btn-success cta-btn" type="button" mdbWavesEffect
                            (click)="onDownLoadDoc(item)"
                            mdbTooltip="Download" placement="left">
                      <mdb-icon fas icon="arrow-alt-circle-down" aria-hidden="true"></mdb-icon>
                    </button>

                    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_UPLOAD_SUPPORTING_DOCUMENTS">
                      <ng-container *ngIf="isAbleToEdit()">
                        <ng-container *ngIf="isUploadedDiv(item)">
                          <button class="btn btn-sm btn-danger cta-btn delete-button" type="button" mdbWavesEffect
                                  (click)="onRemoveFacilityDocument(item)"
                                  mdbTooltip="Delete" placement="left">
                            <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
                          </button>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-template #noRecords>
            <tr>
              <td colspan="4" class="text-align-center" style="border: unset !important;">
                  <span class="no-data-message">
                    No Documents
                  </span>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>

<a class="download-link" #downloadLink></a>

