textarea {
    min-height: 50px !important;
}

.question-item .btn {
    padding: 5px 10px !important;
    margin: 0px 4px 0px 4px !important;
    background-color: #fff;
    border-radius: 8px;
    height: fit-content;
}