.cft-btn {
  padding: 0px;
  height: 30px;
}

.cta-btn {
  padding: .4rem .7rem;
  font-size: .8rem;
  color: #15181bb3;
}

.no-data-message {
  margin: 6px !important;
  font-weight: 500;
  color: #ff7d00;
}

