<form [formGroup]="existingFacilitiesGroup">

  <div class="d-flex flex-column w-100-p mt-2"

  >
    <table class="table custom-bordered-table facility-table">
      <thead>
      <tr>
        <th colspan="9">Existing Facility/ies</th>
        <th class="text-align-center w-5 ">
          <button class="btn btn-sm btn-secondary cta-btn" type="button" mdbWavesEffect
                  (click)="addFacilityFormRow.emit()"
                  mdbTooltip="Add New Record" placement="left">
            <mdb-icon fas icon="fas fa-plus" aria-hidden="true"></mdb-icon>
          </button>
        </th>
      </tr>
      <tr>
        <th class="width-100-p">Type</th>
        <th>Date Granted</th>
        <th class="width-65-p">Amount Rs.Mn.</th>
        <th>Interest Rate [Present]</th>
        <th>Purpose</th>
        <th>Outstanding As at Rs.Mn.
          <mdb-date-picker class="form-control custom-date-input"
                           id="existingOutstandingAtDate"
                           formControlName="existingOutstandingAtDate"
                           [options]="myDatePickerOptions"
                           [inline]="true"
                           inlineIcon=""
          ></mdb-date-picker>
        </th>
        <th colspan="2">Settlement</th>
        <th>Security</th>
        <th></th>
      </tr>
      <tr>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
        <th>Date</th>
        <th>Plan</th>
        <th rowspan="2"></th>
        <th rowspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container formArrayName="existingFacilities">
        <tr *ngFor="let item of existingFacilitiesGroup.get('existingFacilities')['controls'];
           let i = index;"
            [formGroupName]="i"

        >
          <td>
          <textarea type="text"
                    id="type"
                    class="form-control comment-area"
                    maxlength="4000"
                    formControlName="type"
                    customHeight="100"
                    appTextAreaAutoHeight
                    mdbInput>
          </textarea>
          </td>
          <td>
          <textarea type="text"
                    id="dateGrantedStr"
                    class="form-control comment-area"
                    maxlength="4000"
                    appTextAreaAutoHeight
                    customHeight="100"
                    formControlName="dateGrantedStr"
                    mdbInput>
          </textarea>
          </td>
          <td>
            <input mdbValidate
                   type="text"
                   id="existingAmount"
                   maxlength="10"
                   formControlName="amount"
                   class="custom-text-input text-align-end"
                   placeholder="0.0"
                   (focusout)="currencyService.patchFormControllerValue(item, 'amount')"
                   mdbInput>
          </td>
          <td>
          <textarea type="text"
                    id="interestRate"
                    class="form-control comment-area"
                    maxlength="4000"
                    formControlName="interestRate"
                    customHeight="100"
                    appTextAreaAutoHeight
                    mdbInput>
          </textarea>
          </td>
          <td>
          <textarea type="text"
                    id="purpose"
                    class="form-control comment-area"
                    maxlength="4000"
                    placeholder="Purpose"
                    formControlName="purpose"
                    customHeight="100"
                    appTextAreaAutoHeight
                    mdbInput>
          </textarea>
          </td>
          <td>
          <textarea mdbValidate
                    type="text"
                    id="outstandingAsAt"
                    class="form-control comment-area"
                    maxlength="100"
                    formControlName="outstandingAsAt"
                    appTextAreaAutoHeight
                    customHeight="100"
                    mdbInput>
           </textarea>
          </td>
          <td>
           <textarea type="text"
                     id="settlementDate"
                     class="form-control comment-area"
                     maxlength="4000"
                     formControlName="settlementDate"
                     appTextAreaAutoHeight
                     customHeight="100"
                     mdbInput>
          </textarea>
          </td>
          <td>
        <textarea type="text"
                  id="settlementPlan"
                  class="form-control comment-area"
                  maxlength="4000"
                  placeholder="Plan"
                  formControlName="settlementPlan"
                  appTextAreaAutoHeight
                  customHeight="100"
                  mdbInput>
          </textarea>
          </td>
          <td>
        <textarea type="text"
                  id="security"
                  class="form-control comment-area text-align-start"
                  maxlength="4000"
                  placeholder="Security..."
                  formControlName="security"
                  customHeight="100"
                  appTextAreaAutoHeight
                  mdbInput>
          </textarea>
          </td>
          <td class="w-5" [class.new-record]="!item.value.bccFacilityID">
            <div class="d-flex flex-row justify-content-center">
              <ng-container *ngIf="item.value.bccFacilityID">
                <button class="btn btn-sm cta-btn delete-button" type="button" mdbWavesEffect
                        (click)="removeBccFacility(item)"
                        mdbTooltip="Remove" placement="left">
                  <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="!item.value.bccFacilityID">
                <button class="btn btn-sm cta-btn delete-button" type="button" mdbWavesEffect
                        (click)="removeFacilityFormRow.emit(i)"
                        mdbTooltip="Remove" placement="left">
                  <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
                </button>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
      <tr>
        <td>Existing Total</td>
        <td></td>
        <td>
          <input mdbValidate
                 type="text"
                 id="existingFacilityTotal"
                 formControlName="existingFacilityTotal"
                 class="custom-text-input text-align-end"
                 placeholder="0.0"
                 (focusout)="currencyService.patchFormControllerValue(existingFacilitiesGroup, 'existingFacilityTotal')"
                 mdbInput>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total <br>Existing <br>+ <br>Proposed</td>
        <td></td>
        <td>
          <input mdbValidate
                 type="text"
                 id="existingPlusProposedTotal"
                 formControlName="existingPlusProposedTotal"
                 class="custom-text-input text-align-end"
                 placeholder="0.0"
                 (focusout)="currencyService.patchFormControllerValue(existingFacilitiesGroup, 'existingPlusProposedTotal')"
                 mdbInput>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
