<div class="modal-header flex-center modal-topic">
  <h4 class="modal-title w-100 font-weight-bold">UPC Template History</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body m-3 modal-detail form-margin px-0" style="height: 75vh;">

	<div class="row d-flex mx-0" style="height: 100%;">

		<div class="col-md-12 px-0 h-100"
			style="position: relative; border:2px solid rgba(222, 226, 230, 0.5) !important; border-radius: 8px;">
			<div class="row d-flex chat-section" *ngIf="commentHistory.length > 0">
				<div class="m-0 p-0 w-100" *ngFor="let item of commentHistory">
					<div class="row d-flex chat-item">

						<span class="text-1">{{item.comment}} <br />
							<span class="text-1" style="color: #198ddb;font-weight: 400;">
								by {{item.addedBy}}{{item.createdUserDesignation ? " ("+item.createdUserDesignation+") "
                                : ""}} on {{item.date}}
							</span>
						</span>
					</div>
					<div class="m-0 pl-4 pr-0" *ngFor="let child of item.childCmnt">
						<div class="row d-flex chat-item">

							<span class="text-1">{{child.comment}} <br />
								<span class="text-1" style="color: #198ddb;font-weight: 400;">
									by {{child.addedBy}}{{item.createdUserDesignation ? " ("+item.createdUserDesignation+") "
									: ""}} on {{child.date}}
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row d-flex flex-column chat-section justify-content-center align-items-center my-auto h-100" *ngIf="commentHistory.length <= 0">
				<mdb-icon fas icon="comment-slash" style="font-size: 60px;"></mdb-icon>
				<span class="text-center" style="font-size: 16px;font-weight: 600;">There are no records!</span>
			</div>
		</div>
	</div>
</div>