<div class="modal-header modal-topic">
  <h4 class="modal-title w-100 font-weight-bold">{{formName}} Document Upload</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body mx-3 modal-detail form-margin">
  <form class="d-flex flex-column justify-content-start align-items-start w-100-p" [formGroup]="componentForm">

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="remark" maxlength="200" formControlName="remark" class="form-control" mdbInput>
      <label for="remark">Remark</label>
    </div>

    <div class="input-group">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept=".pdf"
        (change)="selectFile($event)">
      <mdb-error *ngIf="fileUploadError.hasError">{{fileUploadError.errorMessage}}</mdb-error>
      <label class="custom-file-label" for="inputGroupFile01">
        {{fileToUpload ? fileToUpload.name : 'Choose file'}}
      </label>
    </div>
  </form>
</div>

<div class="modal-footer modal-end d-flex justify-content-end">
  <button type="button" mdbBtn color="secondary" class="relative waves-light" mdbWavesEffect size="sm"
    [disabled]="componentForm.invalid || !isValidUpload()" (click)="uploadBccDocument(formName)">Upload
  </button>
</div>
