.cta-btn {
  padding: .4rem .7rem;
  font-size: .8rem;
  color: unset;
  margin: 2px;
  box-shadow: unset !important;
}

.delete-button {
  background-color: unset !important;

  mdb-icon {
    color: #ff354785;
  }
}

.restore-button {
  background-color: unset !important;

  mdb-icon {
    color: #F94445;
  }
}

.add-record {
  border-bottom: 2px solid #9d9ea0 !important;
}
