.fp-commentr-header-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.comment-area {
  border: 1px solid #9e9e9e;
  margin-top: -3%;
  padding: 5px;
}

p {
  font-family: Lato;
}

.div-margin {
  margin: 0 0 2rem 0;
}

.div-float-left {
  float: left;
}

.div-float-right {
  float: right;
}

.table-width {
  width: 100%;
}

.doc-nav {
  width: 20%;
  vertical-align: text-top;
}

.tr-height {
//  height: 170px;
  height: 50px;
}

.doc-content {
  vertical-align: top;
  width: 100%;
  border: 1px solid #dadada;
  padding: 13%;
  overflow: scroll;
//  max-height: 1500px;
  max-height: 800px;

}

.btn-style {
  padding-top: 1.5%;
  text-align: end;
}

.bl-width {
  width: 2%;
}
