<div class="d-flex flex-row justify-content-between page-header">
  <div class="d-flex flex-row align-items-center">
    <h5><i class="fas fa-newspaper header-icon"></i>Transfer Application Form(s)</h5>
  </div>
</div>

<div class="page-search-section section display-flex flex-column jc-start p-2 pt-3 pb-3 default-box-styles align-start">
  <form class="display-flex w-100-p flex-row jc-start ai-center flex-wrap flex-2-gap" [formGroup]="searchForm">

    <div class="md-form w-18-p  min-width-120">
      <input type="text" id="afRefNumber" formControlName="afRefNumber" class="form-control" mdbInput>
      <label for="afRefNumber">Ref Number</label>
    </div>

    <div class="display-flex flex-1 flex-row jc-end ai-center">
      <button (click)="search()" type="button" class=" medium-button btn btn-info" mdbBtn>Search</button>
      <button (click)="clearSearch()" class=" medium-button btn btn-outline-info clear-btn" mdbBtn type="button">
        Clear
      </button>
    </div>
  </form>
</div>

<div
  *ngIf="selectedApplicationForms && selectedApplicationForms.length == 0  && isNotEmpty(this.searchForm.controls.afRefNumber.value)"
  class="alert alert-warning" role="alert">
  No Application Form(s) Found !
</div>

<ng-container *ngIf="selectedApplicationForms && selectedApplicationForms.length > 0">
  <div class="section table-responsive mb-15p">
    <table class="table">
      <thead>
      <tr>
        <th>Reference Number</th>
        <th>Branch</th>
        <th>Created On</th>
        <th>Created By</th>
        <th>Assigned User</th>
        <th>Status</th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let paper of selectedApplicationForms">
        <tr
          (click)="loadApplicationForm(paper.applicationFormID)"
          class="table-clickable-row">

         <!-- <td class="fp-ref-number-header"
              [mdbTooltip]="getCustomerNameTooltip(paper)"
          >{{getCustomerName(paper)}}</td>-->
          <td class="fp-ref-number-header">{{paper.afRefNumber || '-'}} </td>
          <td>{{getBranchName(paper.branchCode) || '-'}}</td>
          <td>{{paper.createdDateStr || '-'}}</td>
          <td class="assign-user-col">{{paper.createdUserDisplayName || '-'}}</td>
          <td class="assign-user-col">{{getAssignedUser(paper)}}</td>
          <td class="status-icon status-col">

            <a *ngIf="paper.currentApplicationFormStatus == this.applicationFormCurrentStatusConst.IN_PROGRESS"
               data-toggle="tooltip" data-placement="left" title="In Progress" class="icon-padding">
              <img class="status-img-width" src="assets/media/images/fpstatusicon/inprogress.png" alt="In Progress">
            </a>

            <a *ngIf="paper.currentApplicationFormStatus == this.applicationFormCurrentStatusConst.RETURNED"
               data-toggle="tooltip" data-placement="left" title="Returned" class="icon-padding">
              <img class="status-img-width" src="assets/media/images/fpstatusicon/return.png" alt="Returned">
            </a>

            <a *ngIf="paper.currentApplicationFormStatus == this.applicationFormCurrentStatusConst.DECLINED"
               data-toggle="tooltip" data-placement="left" title="Declined" class="icon-padding">
              <img class="status-img-width" src="assets/media/images/fpstatusicon/rejected.png" alt="Declined">
            </a>

            <a *ngIf="paper.currentApplicationFormStatus == this.applicationFormCurrentStatusConst.DRAFT"
               data-toggle="tooltip" data-placement="left" title="Drafted" class="icon-padding">
              <img class="status-img-width" src="assets/media/images/fpstatusicon/draft.png" alt="Drafted">
            </a>

            <a *ngIf="paper.currentApplicationFormStatus == this.applicationFormCurrentStatusConst.PAPER_CREATED"
               data-toggle="tooltip" data-placement="left" title="Paper Created" class="icon-padding">
              <img class="status-img-width" src="assets/media/images/fpstatusicon/papercreated.png" alt="Paper Created">
            </a>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

  </div>
</ng-container>
