tr {
  border-bottom: 10px solid #fff;
}

td {
  padding: 4px;
  border: none;
  background-color: #f5fcff;
  border-radius: 4px;
}

.label-td {
  width: 300px;
  max-width: 350px;
  vertical-align: middle;
}

label {
  color: #757575;
  font-size: 14px !important;
}

mdb-select {
  background-color: #fff !important;
}