.comment-area {
    border: 0.5px solid #dfe3e9;
    // margin-top: -3%;
    padding: 3px;
    height: 32px;
    margin-left: 15px;
  }

  .multi-quiz{
    margin-left: 15px;
  }

  .description{
    font-size: medium;
  }