.sidenav-show-btn {
  position: absolute;
  z-index: 2;
  top: 1.4rem;
  color: #EBEEF1;
}

.sidenav-hide-btn {
  position: absolute;
  z-index: 2;
  color: #EBEEF1;
}

.image-div-boader {
  border-bottom: 0px solid;
}
