.modal-scrollable {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-width-90-p {
  width: 90%;
  max-width: 90%;
  margin: auto;
}

.modal-top {
  top: 30vh !important;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.modal-header .close {
  position: absolute;
  right: 15px;
}

.modal-title {
  font-weight: bold;
}