.data-lbl {
  padding-right: 3px;
  min-width: 255px;
  //font-weight: bold;
}

.comment-area {
  border: 1px solid #9d9ea0;
}

.strength-detail-label {
  margin-top: 5px;
  margin-left: -21%;
}

.strength-detail-text-area {
  min-width: 255px;
  width: 85%;
  padding-left: 2.5%;
}

.crib-detail-text-area {
  padding-left: 2.5%;
  width: 85%;
}


.m-top-1 {
  margin-top: 1% !important;
}


