.detail-title {

}

.detail-result {
  font-weight: bold;
}

.w-25-p {
  width: 25%;
}

.bg-color {
  background: #b2b9c1 !important;
}

.workflow-routing {
  overflow-x: auto;
}

.width-auto {
  width: auto !important;
}

.icon-color {
  color: #b2b9c1;
}
