.wfr-data {
  margin: 15px;
  background: #f3f3f3;
  border-radius: 5px;
  border-color: #9d9ea0;
  border-style: solid;
  border-width: 0.7px;
}

.wfr-data-error {
  border-color: #a0001c;
}

.icon-color {
  color: #b2b9c1;
}
