<!-- <div class="d-flex flex-row justify-content-center mb-3">
  <strong class="description">{{ annexureData?.description }}</strong>
</div>

<form *ngIf="!loading" [formGroup]="form" class="p-4">

  <div *ngFor="let q of questions; let i = index" class="mb-4">
    <label><strong>{{ i + 1 }}. {{ q.question }} <span *ngIf="q.isMandatory === 'Y'"
          style="color:red">*</span></strong></label>

    <div class="d-flex flex-wrap mt-2" *ngIf="q.answerType === 'MCQ_WITH_SINGLE'">
      <div class="form-check mr-3" *ngFor="let a of q.answers">
        <input class="form-check-input" type="radio" [id]="'q' + q.questionId + '-' + a.answerId"
          [formControlName]="q.questionId" [value]="a.answerId" />
        <label class="form-check-label" [for]="'q' + q.questionId + '-' + a.answerId">
          {{ a.answer }}
        </label>
      </div>
    </div>

    <div class="d-flex flex-wrap mt-2" *ngIf="q.answerType === 'MCQ_WITH_MULTIPLE'">
      <div class="form-check mr-3" *ngFor="let a of q.answers">
        <input class="form-check-input" type="checkbox" [id]="'q' + q.questionId + '-' + a.answerId"
          [checked]="form.get(q.questionId.toString()).value.includes(a.answerId)"
          (change)="onCheckboxArrayChange($event, q.questionId, a.answerId)" [disabled]="!editMode && existingData" />
        <label class="form-check-label" [for]="'q' + q.questionId + '-' + a.answerId">
          {{ a.answer }}
        </label>
      </div>
    </div>


    <div class="mt-2" *ngIf="q.answerType === 'DESCRIPTIVE'" style="margin-right: 15px;">
      <textarea class="form-control rounded-0 comment-area text-area" rows="3"
        [formControlName]="q.questionId"></textarea>
    </div>

 
    <div class="mt-2" *ngIf="q.answerType === 'DESCRIPTIVE_WITH_SUB_QUESTION'">
      <div class="d-flex flex-column">
        <div *ngFor="let a of q.answers" class="d-flex align-items-center mb-2 multi-quiz">
          <strong><label class="mr-2 mb-0" style="min-width: 150px;">{{ a.answer }}</label><span
              *ngIf="q.isMandatory === 'Y'" style="color:red">*</span></strong>
          <textarea class="form-control rounded-0 comment-area text-area flex-grow-1" rows="2"
            [formControlName]="q.questionId + '_' + a.answerId"></textarea>
        </div>
      </div>
    </div>

  </div>

  <div class="mt-3 d-flex justify-content-end">
    <button *ngIf="editMode" type="button" mdbBtn size="sm" color="info" class="mr-2" (click)="onUpdate()"
      [disabled]="form.invalid" [mdbTooltip]="'Update Annexure'">Update</button>
    <button *ngIf="editMode" type="button" mdbBtn size="sm" color="info" class="mr-2"
      (click)="onCancel()">Cancel</button>

    <button *ngIf="!existingData" type="button" mdbBtn size="sm" color="info" class="mr-2" (click)="onSubmit()"
      [disabled]="form.invalid" [mdbTooltip]="'Save Annexure'">Submit</button>
    <button *ngIf="!existingData" type="button" mdbBtn size="sm" color="info" class="mr-2"
      (click)="onCancel()">Cancel</button>
  </div>

</form> -->