<div class="modal-header modal-topic">
  <h4 class="modal-title w-100 font-weight-bold">
    BORROWER/GUARANTOR DETAILS
  </h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body mx-3 modal-detail form-margin">
  <mdb-card>
    <mdb-card-body class="custom-card-body">
      <ng-container>
        <form [formGroup]="borrowerGuarantorForm">
          <div class="d-flex flex-row justify-content-between w-100-p">
            <div class="md-form m-top-12px width-50">
              <input mdbValidate
                     type="text"
                     id="bankAndBranch"
                     maxlength="200"
                     formControlName="bankAndBranch"
                     class="form-control"
                     mdbInput
              >
              <label for="bankAndBranch">Bank & Branch</label>
            </div>
            <div class="md-form width-50">
              <mdb-date-picker class="form-control"
                               style="border: none !important;"
                               id="dateGrantedStr"
                               formControlName="dateGrantedStr"
                               [options]="myDatePickerOptions"
                               [inline]="true"
                               label="Granted Date *"
              ></mdb-date-picker>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-between w-100-p">
            <div class="md-form m-top-12px width-50">
              <input mdbValidate
                     type="text"
                     id="amount"
                     maxlength="200"
                     formControlName="amount"
                     class="form-control"
                     (focusout)="setCurrencyFormatValue('amount')"
                     mdbInput
              >
              <label for="amount">Amount</label>
            </div>
            <div class="md-form m-top-12px width-50">
              <input mdbValidate
                     type="text"
                     id="borrowerName"
                     maxlength="200"
                     formControlName="borrowerName"
                     class="form-control"
                     mdbInput
              >
              <label for="borrowerName">Borrower's name if guaranteed</label>
            </div>
          </div>

        </form>
      </ng-container>
    </mdb-card-body>
  </mdb-card>
</div>

<div class="modal-footer modal-end">
  <button
    type="button" mdbBtn color="secondary" size="sm" class="relative waves-light" mdbWavesEffect
    [hidden]="borrowerGuarantor.borrowerGuarantorID"
    (click)="save()"
  >ADD
  </button>
  <button
    type="button" mdbBtn color="secondary" size="sm" class="relative waves-light" mdbWavesEffect
    [hidden]="!borrowerGuarantor.borrowerGuarantorID"
    (click)="save()"
  >Update
  </button>
</div>
