.modal-header{
 justify-content: center;
 font-weight: bold;
 border-style: none;
}

.modal-title {
    font-weight: bold;
    align-items: center;
    border-style: none;
  }

  .modal-footer{
    border-style: none;
  }