td,
th {
    border: 1px solid #9d9ea0 !important;
    padding: 6px !important;
    vertical-align: middle !important;
}

thead tr,
thead th {
    padding: 6px !important;
    background-color: unset;
    vertical-align: middle !important;
    text-align: center;
}

tbody tr,
tbody th {
    padding: 6px !important;
    background-color: unset;
    vertical-align: middle !important;
    text-align: center;
}