<div class="d-flex flex-column width-100 justify-content-center">
  <div class="text-align-center topic">
    <h5>Exposure</h5>
  </div>

  <table class="width-100">
    <thead>
    <tr>
      <th class="text-align-end">
        Proposed/Previous Values
      </th>
      <th></th>
      <th class="text-align-start">Required/Outstanding Values</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height: 30px;">
      <td class="text-align-end">{{this.getCurrencyFormat(this.facilityPaper.totalDirectExposurePrevious)}}</td>
      <td class="text-align-center">Total Direct Exposure</td>
      <td class="text-align-start">{{this.getCurrencyFormat(this.facilityPaper.totalDirectExposureNew)}}</td>
    </tr>

    <tr style="height: 30px;">
      <td class="text-align-end">{{this.getCurrencyFormat(this.facilityPaper.totalIndirectExposurePrevious)}}</td>
      <td class="text-align-center">Total Indirect Exposure</td>
      <td class="text-align-start">{{this.getCurrencyFormat(this.facilityPaper.totalIndirectExposureNew)}}</td>
    </tr>

    <tr style="height: 30px;">
      <td class="text-align-end">{{this.getCurrencyFormat(this.facilityPaper.totalExposurePrevious)}}</td>
      <td class="text-align-center">Total Exposure</td>
      <td class="text-align-start">{{this.getCurrencyFormat(this.facilityPaper.totalExposureNew)}}</td>
    </tr>

    <tr style="height: 30px;">
      <td class="text-align-end"></td>
      <td class="text-align-center">Add Total Exposure to Group Total Exposure</td>
      <td class="text-align-start">
        <ng-container *ngIf="this.facilityPaper.addTotalExposureToGroup=='Y'">
          <label class="form-check-label">YES</label>
        </ng-container>
        <ng-container *ngIf="this.facilityPaper.addTotalExposureToGroup=='N'">
          <label class="form-check-label">No</label>
        </ng-container>
      </td>
    </tr>

    <tr style="height: 30px;">
      <td class="text-align-end">{{this.getCurrencyFormat(this.facilityPaper.groupTotalDirectExposurePrevious)}}</td>
      <td class="text-align-center">Group Total Direct Exposure</td>
      <td class="text-align-start">{{this.getCurrencyFormat(this.facilityPaper.groupTotalDirectExposureNew)}}</td>
    </tr>

    <tr style="height: 30px;">
      <td class="text-align-end">{{this.getCurrencyFormat(this.facilityPaper.groupTotalIndirectExposurePrevious)}}</td>
      <td class="text-align-center">Group Total Indirect Exposure</td>
      <td class="text-align-start">{{this.getCurrencyFormat(this.facilityPaper.groupTotalIndirectExposureNew)}}</td>
    </tr>

    <tr style="height: 30px;">
      <td class="text-align-end">{{this.getCurrencyFormat(this.facilityPaper.groupTotalExposurePrevious)}}</td>
      <td class="text-align-center">Group Total Exposure</td>
      <td class="text-align-start">{{this.getCurrencyFormat(this.facilityPaper.groupTotalExposureNew)}}</td>
    </tr>

    </tbody>
  </table>
</div>

