.item-box {
  border-width: 2px;
  width: 100%;
}

.data-lbl {
  padding-left: 2.5%;
  padding-right: 3px;
  min-width: 255px;
  //font-weight: bold;
}

.comment-area {
  border: 1px solid #9d9ea0;
  width: 100%;
  height: 80px !important;
}

.table th {
  padding: unset;
}
