<mdb-card>
  <mdb-card-header class="custom-card-header">
    BUSINESS INFORMATION
  </mdb-card-header>
  <mdb-card-body class="custom-card-body">
    <form [formGroup]="businessInformationForm" class="width-100">

      <div class="d-flex flex-row flex-wrap justify-content-between w-100-p">
        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <input mdbValidate
                 type="text"
                 id="nameOfBusiness"
                 maxlength="200"
                 formControlName="nameOfBusiness"
                 class="form-control"
                 mdbInput
          >
          <label for="nameOfBusiness">Name of Business *</label>
        </div>

        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <input mdbValidate
                 type="text"
                 id="registrationNo"
                 maxlength="200"
                 formControlName="registrationNo"
                 class="form-control"
                 mdbInput
          >
          <label for="registrationNo">Registration No *</label>
        </div>

        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <mdb-date-picker class="form-control"
                           id="dateOfRegistrationStr"
                           formControlName="dateOfRegistrationStr"
                           [options]="dateOfRegistrationOptions"
                           [inline]="true"
                           label="Date Of Registration *"
          ></mdb-date-picker>
          <mdb-error *ngIf="formErrors.dateOfRegistrationStr.required">Required</mdb-error>
        </div>

        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <mdb-select
            [options]="optionsSelectConstitution"
            class="m-top-8px"
            label="Constitution"
            formControlName="constitution"
            id="constitution"></mdb-select>
          <mdb-error *ngIf="formErrors.constitution.required">Required</mdb-error>
        </div>

        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <input mdbValidate
                 type="text"
                 id="officialAddress"
                 maxlength="200"
                 formControlName="officialAddress"
                 class="form-control"
                 mdbInput
          >
          <label for="officialAddress">Official Address *</label>
        </div>

        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <input mdbValidate
                 type="text"
                 id="natureOfBusiness"
                 maxlength="200"
                 formControlName="natureOfBusiness"
                 class="form-control"
                 mdbInput
          >
          <label for="natureOfBusiness">Nature of Business *</label>
        </div>

        <div class="md-form width-49 d-flex flex-row m-top-12px">
          <mdb-date-picker class="form-control"
                           id="dateOfCommencementStr"
                           formControlName="dateOfCommencementStr"
                           [options]="dateOfCommencementOptions"
                           [inline]="true"
                           label="Date Of Commencement of the Business *"
          ></mdb-date-picker>
          <mdb-error *ngIf="formErrors.dateOfCommencementStr.required">Required</mdb-error>
        </div>

        <ng-container *ngIf="isPrivateLTD()">
          <div class="md-form width-49 d-flex flex-row m-top-12px">
          </div>
        </ng-container>

        <ng-container *ngIf="isPrivateLTD()">
          <div class="md-form width-49 d-flex flex-row m-top-12px">
            <input mdbValidate
                   type="text"
                   id="capitalPaidUp"
                   maxlength="200"
                   formControlName="capitalPaidUp"
                   class="form-control"
                   (focusout)="setCurrencyFormatValue('capitalPaidUp')"
                   mdbInput>
            <label for="capitalPaidUp">Capital Paid Up</label>
          </div>
        </ng-container>

        <ng-container *ngIf="isPrivateLTD()">
          <div class="md-form width-49 d-flex flex-row m-top-12px">
            <input mdbValidate
                   type="text"
                   id="capitalIssued"
                   maxlength="200"
                   formControlName="capitalIssued"
                   class="form-control"
                   (focusout)="setCurrencyFormatValue('capitalIssued')"
                   mdbInput>
            <label for="capitalIssued">Capital Issued</label>
          </div>
        </ng-container>


        <ng-container *ngIf="isPrivateLTD()">
          <div class="md-form width-49 d-flex flex-row m-top-12px">
            <input mdbValidate
                   type="text"
                   id="capitalAuthorized"
                   maxlength="200"
                   formControlName="capitalAuthorized"
                   class="form-control"
                   (focusout)="setCurrencyFormatValue('capitalAuthorized')"
                   mdbInput>
            <label for="capitalAuthorized">Capital Authorized</label>
          </div>
        </ng-container>
      </div>

    </form>
  </mdb-card-body>
</mdb-card>
