<div class="text-align-center m-top-10px m-bottom-10px w-100-p" *ngIf="selectedTopic.topicData">
  <div class="d-flex flex-row justify-content-center w-100-p">
    <div class="topic"><b>{{selectedTopic.topic}}</b></div>
    <div>
      <ng-container *ngIf="isAbleToEdit()">
        <button class="btn btn-sm btn-secondary cta-btn" type="button" mdbWavesEffect
                (click)="openModalTemplateData($event,selectedTopic)"
                mdbTooltip="Edit Content"
                placement="left">
          <mdb-icon fas icon="pencil-alt" aria-hidden="true"></mdb-icon>
        </button>
        <button class="btn btn-sm btn-danger cta-btn delete-button" type="button" mdbWavesEffect
                (click)="remove(selectedTopic)"
                mdbTooltip="Remove" placement="left">
          <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
        </button>
      </ng-container>
    </div>
  </div>
</div>

<div class=" m-top-10px m-bottom-10px w-100-p" *ngIf="selectedTopic.topicData">
  <div class=" m-top-10px m-bottom-10px w-100-p border p-2"
       [innerHTML]="selectedTopic.topicData | safeHtml">
  </div>
</div>
