.cta-btn {
  padding: .4rem .7rem;
  font-size: .8rem;
  color: unset;
  margin: 2px;
  box-shadow: unset !important;
  background-color: unset !important;
}

.delete-button {
  background-color: unset !important;

  mdb-icon {
    color: #ff354785;
  }
}

.topic {
  margin: 6.5px 8px 0px 0px;
}
