<div class="modal-header modal-topic">
  <h4 class="modal-title w-100 font-weight-bold">
    {{heading}}
  </h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body mx-3 modal-detail form-margin">
  <form [formGroup]="basicInformationForm" class="width-100">

    <div class="d-flex flex-column justify-content-between w-100-p">
      <div class="d-flex flex-row justify-content-between w-40-p m-bottom-10px">
        <ng-container *ngIf="showRadioButton(basicInformationTypeConst.PERSONAL)">
          <input type="radio" class="form-check-input"
                 formControlName="type"
                 id="{{basicInformationTypeConst.PERSONAL}}" [value]="basicInformationTypeConst.PERSONAL"
                 name="type">
          <label class="form-check-label"
                 for="{{basicInformationTypeConst.PERSONAL}}">{{basicInformationType.PERSONAL}}</label>
        </ng-container>

        <ng-container *ngIf="showRadioButton(basicInformationTypeConst.BUSINESS)">
          <input type="radio" class="form-check-input"
                 formControlName="type"
                 id="{{basicInformationTypeConst.BUSINESS}}" [value]="basicInformationTypeConst.BUSINESS"
                 name="type">
          <label class="form-check-label m-left-5p"
                 for="{{basicInformationTypeConst.BUSINESS}}">{{basicInformationType.BUSINESS}}</label>
        </ng-container>

        <ng-container *ngIf="showRadioButton(basicInformationTypeConst.CORPORATE)">
          <input type="radio" class="form-check-input"
                 formControlName="type"
                 id="{{basicInformationTypeConst.CORPORATE}}" [value]="basicInformationTypeConst.CORPORATE"
                 name="type">
          <label class="form-check-label m-left-5p"
                 for="{{basicInformationTypeConst.CORPORATE}}">{{basicInformationType.CORPORATE}}</label>
        </ng-container>
      </div>

      <ng-container *ngIf="isPersonal()">
        <app-apf-personal-information-add-edit
          [personalInformationForm]="basicInformationForm.get('personalInformationForm')">
        </app-apf-personal-information-add-edit>
      </ng-container>

      <ng-container *ngIf="isBusiness()">
        <app-apf-business-information-add-edit
          [businessInformationForm]="basicInformationForm.get('businessInformationForm')">
        </app-apf-business-information-add-edit>
      </ng-container>

      <ng-container *ngIf="isCorporate()">
        <app-apf-corporate-information-add-edit
          [corporateInformationForm]="basicInformationForm.get('corporateInformationForm')">
        </app-apf-corporate-information-add-edit>
      </ng-container>

      <ng-container>
        <app-apf-finacle-customer-update
          [finacleCustomerUpdateForm]="basicInformationForm.get('finacleCustomerUpdateForm')">
        </app-apf-finacle-customer-update>
      </ng-container>

    </div>
  </form>
</div>

<div class="modal-footer modal-end">
  <button
    type="button" mdbBtn color="secondary" size="sm" class="relative waves-light" mdbWavesEffect
    [hidden]="basicInformation.basicInformationID"
    (click)="saveBasicDetails()"
  >ADD
  </button>
  <button
    type="button" mdbBtn color="secondary" size="sm" class="relative waves-light" mdbWavesEffect
    [hidden]="!basicInformation.basicInformationID"
    (click)="saveBasicDetails()"
  >Update
  </button>
</div>
