<div class="d-flex flex-column justify-content-start align-items-start w-100-p ">

    <div class="d-flex flex-row w-100-p mb-3 flex-wrap justify-content-between">
      <div class="padding-4px">
        <label class="font-weight-bold mr-auto">Risk Opinion Document(s)</label>
      </div>
      <div>
        <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_UPLOAD_SUPPORTING_DOCUMENTS">
          <ng-container *ngIf="isEqualLoginAndAssignUser() && !isApproveStatus() && !isRejected() && isLoading && !isAbleToEditRiskComment">
            <button
              type="button"
              class="btn btn-light cft-btn px-sm-2 history-button"
              mdbTooltip="Add Risk Opinion Doc" placement="left"
              (click)="openModalSupportDocumentUpload(facilityPaper)">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="table-responsive" *ngIf="fpDocumentDTOList.length > 0">
      <table class="table">
        <thead>
        <tr>
          <th>Document Name</th>
          <th>Uploaded By</th>
          <th class="text-align-center">Date & Time</th>
          <th>Remark</th>
          <th class="text-align-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of fpDocumentDTOList">
          <ng-container *ngIf="isCheckedToDisplayDoc(item.isLocked)">
            <tr class="">
              <td>{{item.documentName}}</td>
              <td>{{item.uploadedUserDisplayName}}</td>
              <td class="text-align-center">{{item.createdDateStr}}</td>
              <td>{{item.description}}</td>
              <td class="text-align-center width-15">
                <div>
                  <ng-container *ngIf="isCheckedPdf(item)">
                    <button class="btn btn-sm btn-success cta-btn" type="button" mdbWavesEffect
    
                          (click)="onDownloadDoc(item)"
                          mdbTooltip="View Credit Risk Doc" placement="left">
                      <mdb-icon fas icon="fas fa-eye" aria-hidden="true"></mdb-icon>
                    </button>
                  </ng-container>
                  
                  <button class="btn btn-sm btn-success cta-btn" type="button" mdbWavesEffect
                          (click)="downloadDocument(item)"
                          mdbTooltip="Download Credit Risk Doc" placement="left">
                    <mdb-icon fas icon="fa fa-download" aria-hidden="true"></mdb-icon>
                  </button>
                  <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_UPLOAD_SUPPORTING_DOCUMENTS">
                    <ng-container *ngIf="isEqualLoginAndAssignUser() && !isApproveStatus() && !isRejected()">
                      <ng-container *ngIf="isLockedPdf(item)">
                        <ng-container *ngIf="isLoading">
                          <button class="btn btn-sm btn-danger cta-btn delete-button" type="button" mdbWavesEffect
                                  (click)="remove(item)"
                                  mdbTooltip="Delete Credit Risk Doc" placement="left">
                            <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
                          </button>
                        </ng-container>
                      </ng-container>
                      
                    </ng-container>
                  </ng-container>
                </div>
              </td>
            </tr>

          </ng-container>

        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <a class="download-link" #downloadLink></a>
  
  
  