<ng-container *ngIf="creditFacilityList.length > 0 && isPreviewMode">

  <ng-container *ngIf="!tabView">
    <div class="text-align-center topic">
      <h5>Security</h5>
    </div>
  </ng-container>

  <ng-container *ngFor="let creditFacility of creditFacilityList; let i =index">
    <div id="fp-f-prev-mod" class="w-100-p">
      <app-review-facility-security
        [facilityData]="creditFacility"
        [facilityPaper]="facilityPaper"
        (toCommonSecurityContent)="toContent($event)"
        [isPreviewMode]="isPreviewMode">
      </app-review-facility-security>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="commonFacilitySecurityList.length > 0">
  <app-preview-common-securities
    [facilityPaper]="facilityPaper"
    [commonFacilitySecurityList]="commonFacilitySecurityList"
    (moveUp)="moveUp()"
  >
  </app-preview-common-securities>
</ng-container>

<div class="w-100-p">
  <app-preview-security-summary
    [facilityPaper]="facilityPaper" [isView]="false">
  </app-preview-security-summary>
</div>
