<div>
    <div class="modal-header modal-topic flex-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 heading-align" id="myModalLabel" style="font-size: 1rem ; font-weight: bold">
            {{heading}}</h4>
    </div>
    <div class="modal-body modal-detail form-margin">

        <h6 style="font-size: 0.9rem">{{message}}</h6>

        <h6 *ngIf="isSDConfirmation" style="font-size: 0.9rem; font-weight: 600;">
            Do you want skip documentation for now?
        </h6>

    </div>
    <div class="modal-footer modal-end" *ngIf="isSDConfirmation">
        <button type="button" mdbBtn color="secondary" size="sm" class="waves-light" aria-label="Close"
            (click)="onNoClick()" mdbWavesEffect>No
        </button>
        <button type="button" mdbBtn color="success" size="sm" class="relative waves-light" (click)="onYesClick()"
            mdbWavesEffect>Yes
        </button>
    </div>
</div>