<div class="d-flex p-2 flex-column justify-content-start align-items-start w-100-p">
  <div class="text-align-center width-100">
  </div>

  <div class="width-100">
    <ng-container *ngIf="isDataAvailable  ; else : noData">
      <div class="width-100 text-align-center">
        <p class="font-weight-bold">Advance Details as at {{date}}</p>
      </div>
      <table class="custom-bordered-table width-100">
        <thead>
        <tr style="height: 30px" class="table-heading-color">
          <th>Nature</th>
          <th>Currency</th>
          <th>Sanction Limit</th>
          <th>Operative Account</th>
          <th>Facility Account</th>
          <th>Interest Rate (% p.a.)</th>
          <th>OS Amount</th>
          <th>Asset Classification</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of facilities">
          <td>{{startCaseFormat(data.nature)}}</td>
          <td class="text-align-center">{{data.currency}}</td>
          <td class="text-align-end">{{this.getCurrencyFormat(data.sanctionLimit)}}</td>
          <td>{{data.operativeAccount}}</td>
          <td>{{data.facilityAccount}}</td>
          <td class="text-align-center">{{this.getCurrencyFormat(data.intRate)}}</td>
          <td class="text-align-end">{{this.getCurrencyFormat(data.outstandingAomunt)}}</td>
          <td class="text-align-center">{{data.assetClassification}}</td>
        </tr>
        <tr>
          <th class="text-align-end">Total</th>
          <th></th>
          <th class="text-align-end">{{this.getCurrencyFormat(totalSanctionLimit)}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-align-end">{{this.getCurrencyFormat(totalOutstandingAmount)}}</th>
          <th></th>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noData>
      <p class="not-auth-message">
        No Records Available
      </p>
    </ng-template>

  </div>
</div>
