.cft-btn {
  padding: 0;
  height: 30px;
  margin-bottom: 15px;
}

.cta-btn {
  padding: .4rem .7rem;
  font-size: .8rem;
  color: #15181bb3;
}

.action-button-padding {
  padding: 0.2rem 1.3rem;
}

.active-risk-Comment-body {
  background-color: #D3D9DF;
  padding: 2% !important;
}

.risk-opinion-topic {
  font-size: 1.1rem;
  font-weight: bold
}

.risk-edit {

  padding-top: .5% !important;
  padding-left: 1% !important;

}

.risk-reply-body {
  background-color: #E9ECEF;
  padding: 2% !important;
}

.risk-reply-div {
  padding-top: 1% !important;
  padding-left: 2% !important;
}

.history-button{
  background-color: #ADD8E6;
  margin-bottom: 50px;
  align-items: flex-end;
  padding: 8px !important;
}

.history-sec{
  float: right;
}

.model-width{
  width: 50%;
}

.modal-ku {
  width: 750px;
  margin: auto;
}

.cta-btn-new {
  padding: .2rem .4rem;
  font-size: .8rem;
  color: #15181bb3;
}
