<mdb-card>
  <mdb-card-body class="custom-card-body">
    <ng-container>
      <div class="d-flex flex-column justify-content-between w-100-p table-responsive">
        <table class="table">
          <thead *ngIf="applicationFrom.afDocumentDTOList.length>0">
          <tr>
            <th>Document Name</th>
            <th>Uploaded By</th>
            <th class="text-align-center">Date & Time</th>
            <th>Remarks</th>
            <th class="text-align-center width-15">Actions</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="applicationFrom.afDocumentDTOList.length>0 ; else noData">
            <ng-container *ngFor="let item of applicationFrom.afDocumentDTOList">
              <tr class="">
                <td>{{item.documentName}}</td>
                <td>{{item.uploadedUserDisplayName}}</td>
                <td class="text-align-center">{{item.createdDateStr}}</td>
                <td>{{item.remark}}</td>
                <td class="text-align-center width-15">
                  <div>
                    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_UPLOAD_SUPPORTING_DOCUMENTS">
                      <ng-container *ngIf="isAbleToEdit()">
                        <ng-container *ngIf="isUploadedDiv(item)">
                          <button class="btn btn-sm btn-secondary cta-btn" type="button" mdbWavesEffect
                                  (click)="update(item)"
                                  mdbTooltip="Edit Supporting Doc"
                                  placement="left">
                            <mdb-icon fas icon="pencil-alt" aria-hidden="true"></mdb-icon>
                          </button>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="isCheckedPdf(item)">
                      <button class="btn btn-sm btn-success cta-btn" type="button" mdbWavesEffect
                              (click)="onDownloadDoc(item)"
                              mdbTooltip="View Supporting Doc" placement="left">
                        <mdb-icon fas icon="fas fa-eye" aria-hidden="true"></mdb-icon>
                      </button>
                    </ng-container>
                    <ng-container>
                      <button class="btn btn-sm btn-success cta-btn" type="button" mdbWavesEffect
                              (click)="downloadDocument(item)"
                              mdbTooltip="Download Supporting Doc" placement="left">
                        <mdb-icon fas icon="fa fa-download" aria-hidden="true"></mdb-icon>
                      </button>
                    </ng-container>
                    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_UPLOAD_SUPPORTING_DOCUMENTS">
                      <ng-container *ngIf="isAbleToEdit()">
                        <ng-container *ngIf="isUploadedDiv(item)">
                          <button class="btn btn-sm btn-danger cta-btn delete-button" type="button" mdbWavesEffect
                                  (click)="remove(item)"
                                  mdbTooltip="Delete Supporting Doc" placement="left">
                            <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
                          </button>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-template #noData>
            <tr>
              <th colspan="5" class="text-align-center">
                <p class="not-auth-message">
                  No Uploaded Supporting Documents
                </p>
              </th>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </ng-container>
  </mdb-card-body>
</mdb-card>
<a class="download-link" #downloadLink></a>
