<div *ngIf="comments.length > 0" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th class="text-align-center" style="width: 130px !important;">Date</th>
        <th>Action</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.createdUserDisplayName }}</td>
        <td>{{ formatDate(comment.createdDate) | date: 'dd/MM/yyyy' }}</td>
        <td>{{ comment.actionMessage }}</td>
        <td>{{ comment.userComment }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="comments.length === 0">
  <p class="no-data-message text-align-center">No Comments.</p>
</div>
