.item-wrapper {
  padding: 10px;
}

.item-header {
  font-weight: bold;
  display: inline;
  width: fit-content;
}

.lead-status {
  display: block;
  align-content: center;
  width: 50%;
  min-width: 80px;

  mdb-badge {
    display: block;
  }
}

.status-icon {
  text-align: left;
  padding: 0px;
}

.status-col {
  width: 10%;
}

.status-img-width {
  width: 30%;
  margin-left: 5%;
  padding: 3px;
}
