.login-page-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);

  .login-form-container {
    min-width: 450px;
  }

  .md-form {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

label {
  text-align: left;
}

.custom-header{
  padding: unset !important;
}
