<div class="modal-header flex-center">
  <div class="modal-header text-center no-border custom-header">
    <h4 class="modal-title w-100 font-weight-bold">{{heading}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="d-flex flex-column flex-center">

  <form class="text-center w-75" [formGroup]="changePasswordForm" autocomplete="off">
    <div class="md-form">
      <input mdbValidate
             type="password"
             id="oldPassword"
             formControlName="oldPassword"
             class="form-control"
             mdbInput
             placeholder="Current Password">
    </div>

    <!-- Password -->
    <div class="md-form">
      <input type="password"
             id="password"
             class="form-control"
             formControlName="password"
             placeholder="New Password"
             mdbInput>
      <mdb-error *ngIf="formErrors.password.required">Password required</mdb-error>
      <mdb-error *ngIf="formErrors.password.passwordMistMatch">Password and Confirm Password must be same</mdb-error>
      <mdb-error *ngIf="formErrors.password.needUpperCase">At least one Upper Case Character</mdb-error>
      <mdb-error *ngIf="formErrors.password.needLowerCase">At least one Lower Case Character</mdb-error>
      <mdb-error *ngIf="formErrors.password.needNumber">At least one Number</mdb-error>
      <mdb-error *ngIf="formErrors.password.needSpecialCharacter">At least one Special Character</mdb-error>
      <mdb-error *ngIf="formErrors.password.needMoreLength">At least {{formErrors.password.passwordMinLength}}
        Characters needed
      </mdb-error>
      <mdb-error *ngIf="formErrors.password.needLessThan"> Maximum length for Password
        is {{formErrors.password.passwordMaxLength}}</mdb-error>
    </div>

    <div class="md-form">
      <input type="password"
             id="passwordConfirm"
             class="form-control"
             formControlName="passwordConfirm"
             placeholder="Confirm Password"
             mdbInput>
      <mdb-error *ngIf="formErrors.passwordConfirm.required">Password Confirm required</mdb-error>
      <mdb-error *ngIf="formErrors.passwordConfirm.passwordMistMatch">Password and Confirm Password must be same
      </mdb-error>
    </div>

    <button (click)="changePassword()"
            [disabled]="!isValidForm()"
            mdbBtn
            color="info"
            block="true"
            class="my-4"
            type="submit">Change Password
    </button>

  </form>

</div>
