.item-box {
  background: #f2f2f2;
  margin-left: 195px;
  padding: 1em;
}

.input-gap {
  margin-left: 25px;
}

.repayment-Submit {
  margin: 5px;
}

.facility-data-header {
  font-weight: bold;
  display: inline;
  width: fit-content;
}

.form-margin {
  margin-top: -2%;
}

