<div mdbSticky class="d-flex flex-row justify-content-between page-header">
  <div class="d-flex flex-row align-items-center">
    <h5><i class="fas fa-book-open header-icon"></i>Supporting Document(s)</h5>
  </div>

  <div class="d-flex flex-row align-items-center">
    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_SUPPORTING_DOC_ADD">
      <button (click)="loadSupportingDoc(null)"
              class="custom-button"
              mdbBtn
              type="button"
              color="default"
              outline="true"
              mdbWavesEffect>New Supporting Doc
      </button>
    </ng-container>
  </div>
</div>

<div class="page-search-section section display-flex flex-column jc-start p-2 pt-3 pb-3 default-box-styles">
  <form class="display-flex w-100-p flex-row jc-space-around ai-center flex-1-gap" [formGroup]="searchForm">

    <div class="md-form w-24-p min-width-120">
      <input type="text" id="documentName" formControlName="documentName" class="form-control" mdbInput>
      <label for="documentName">Document Name</label>
    </div>

    <div class="md-form w-24-p min-width-120">
      <input type="text" id="description" formControlName="description" class="form-control" mdbInput>
      <label for="description">Description</label>
    </div>

    <div class="md-form w-24-p min-width-120">
      <input type="text" id="supportDocumentType" formControlName="supportDocumentType" class="form-control" mdbInput>
      <label for="supportDocumentType">Document Type</label>
    </div>

    <div class="md-form w-24-p min-width-120">
      <mdb-select
        [options]="optionsSelect"
        formControlName="status"
        id="status"
        placeholder="All"></mdb-select>
      <label for="status">Status</label>
    </div>

    <div class="display-flex flex-1 flex-row jc-end ai-center">
      <button (click)="doSearch()" type="button" class=" medium-button btn btn-info" mdbBtn>Search</button>
      <button (click)="clearSearch()" class=" medium-button btn btn-outline-info clear-btn" mdbBtn type="button">
        Clear
      </button>
    </div>
  </form>
</div>

<div *ngIf="supportingDocs.length == 0" class="section alert alert-warning" role="alert">
  No Supporting Document(s) Found !
</div>

<ng-container *ngIf="supportingDocs.length > 0">
  <div class="section table-responsive mb-15p">
    <table class="table">
      <thead>
      <tr>
        <ng-container *ngFor="let col of tableColumns">
          <th scope="col">{{col}}</th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let doc of supportingDocs">
        <tr (click)="loadSupportingDoc(doc.supportingDocID)" class="table-clickable-row">
          <td>{{doc.documentName}}</td>
          <td>{{doc.description ? doc.description : '-'}}</td>
          <td>{{doc.supportDocumentType}}</td>
          <td>
            <span
              [class.color-green]="doc.status === statusConst.ACT"
              [class.color-red]="doc.status === statusConst.INA"
            >
                  {{status[doc.status]}}
                </span>
          </td>

          <td>
            <span
              [class.color-green]="doc.approveStatus === approvedStatusConst.APPROVED"
              [class.color-red]="doc.approveStatus === approvedStatusConst.REJECTED"
              [class.color-blue]="doc.approveStatus == approvedStatusConst.PENDING"
            >
                  {{approvedStatus[doc.approveStatus]}}
                </span>
          </td>

          <td>{{doc.approvedDateStr ? doc.approvedDateStr : '-'}}</td>
          <td>{{doc.approvedBy ? doc.approvedBy : '-'}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
    <app-paginator
      [pageIndex]="pageSize.pageIndex"
      [length]="pageSize.length"
      [pageSize]="pageSize.pageSize"
      [pageSizeOptions]="pageSize.pageSizeOptions"
      (page)="onPageEvent($event)"
    ></app-paginator>
  
</ng-container>
