<div class="modal-header modal-topic">
  <h4 class="modal-title w-100 font-weight-bold">Add Lead Facility</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body mx-3 modal-detail form-margin">
  <form class="d-flex p-2 flex-column justify-content-start align-items-start w-100-p" [formGroup]="componentForm">

    <div class="d-flex w-100-p justify-content-between p-2">
      <div class="md-form w-45-p">
        <input mdbValidate type="text" id="creditFacilityType" maxlength="200" formControlName="creditFacilityType"
          class="form-control" placeholder="Choose Facility Group" [mdbAutoCompleter]="auto1" mdbInput>

        <mdb-auto-completer #auto1="mdbAutoCompleter" textNoResults="I have found no results :(">
          <mdb-option *ngFor="let option of creditFacilityGroups" [value]="option.facilityTypeName">
            {{ option.facilityTypeName }}
          </mdb-option>
        </mdb-auto-completer>
        <label for="creditFacilityType">Facility Group Name *</label>
        <mdb-error *ngIf="formErrors.creditFacilityType.required">Facility Group required</mdb-error>
      </div>
      <div class="md-form w-45-p">
        <input mdbValidate type="text" id="facilityTemplateName" maxlength="200" formControlName="facilityTemplateName"
          class="form-control" placeholder="Choose Facility Type" [mdbAutoCompleter]="auto" mdbInput>

        <mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="I have found no results :(">
          <mdb-option *ngFor="let option of creditFacilityTemplateOptionList" [value]="option.creditFacilityName">
            {{ option.creditFacilityName }}
          </mdb-option>
        </mdb-auto-completer>
        <label for="facilityTemplateName">Facility Template Name *</label>
        <mdb-error *ngIf="formErrors.facilityTemplateName.required">Facility Type required</mdb-error>
      </div>
    </div>


    <!-- <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="facilityTemplateName" maxlength="200" formControlName="facilityTemplateName"
        class="form-control" placeholder="Choose Facility Type" [mdbAutoCompleter]="auto" mdbInput>

      <mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="I have found no results :(">
        <mdb-option *ngFor="let option of creditFacilityTemplateOptionList" [value]="option.creditFacilityName">
          {{ option.creditFacilityName }}
        </mdb-option>
      </mdb-auto-completer>
      <label for="facilityTemplateName">Facility Template Name *</label>
      <mdb-error *ngIf="formErrors.facilityTemplateName.required">Facility Type required</mdb-error>
    </div> -->


    <div class="d-flex w-100-p justify-content-between p-2">
      <div class="md-form w-45-p">
        <input mdbValidate type="text" id="amount" maxlength="200" formControlName="amount" class="form-control"
          (focusout)="setCurrencyFormatValue('amount')" mdbInput>
        <label for="amount"> Amount</label>
        <mdb-error *ngIf="formErrors.amount.required"> Amount required</mdb-error>
        <mdb-error *ngIf="formErrors.amount.isCommaSeparatedValueError">Invalid</mdb-error>
      </div>
      <div class="md-form w-45-p">

        <mdb-select mdbValidate required label="Currency *" id="facilityCurrency" [options]="currencyTypesOpt"
          [allowClear]="true" formControlName="facilityCurrency" class="form-control">
        </mdb-select>
        <mdb-error *ngIf="formErrors.amount.facilityCurrency"> Required</mdb-error>
      </div>
    </div>

    <div class="d-flex w-100-p justify-content-between p-2">
      <div class="md-form w-45-p">
        <input mdbValidate type="text" id="address" maxlength="200" formControlName="description" class="form-control"
          mdbInput>
        <label for="address">No. of Rentals</label>
      </div>
      <div class="md-form w-45-p">
        <input mdbValidate type="text" id="address" maxlength="200" formControlName="description" class="form-control"
          mdbInput>
        <label for="address">Upfront</label>
      </div>
    </div>


    <!-- <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <label for="description">Description *</label>
      <textarea type="text" id="description" class="form-control border-bottom" maxlength="4000" appTextAreaAutoHeight
        formControlName="description" [wrap]="'hard'" mdbInput></textarea>
      <mdb-error *ngIf="formErrors.description.required">Description required</mdb-error>
    </div> -->

    <div class="d-flex w-100-p justify-content-between p-2">
      <div class="md-form w-45-p">
        <input mdbValidate type="text" id="address" maxlength="200" formControlName="description" class="form-control"
          mdbInput>
        <label for="address">Effective Rate</label>
      </div>
      <div class="md-form w-45-p">
        <label for="description">Description *</label>
        <textarea type="text" id="description" class="form-control border-bottom" maxlength="4000" appTextAreaAutoHeight
          formControlName="description" [wrap]="'hard'" mdbInput></textarea>
        <mdb-error *ngIf="formErrors.description.required">Description required</mdb-error>
      </div>
    </div>

  </form>
</div>

<div class="modal-footer modal-end">
  <button type="button" mdbBtn color="secondary" class="relative waves-light" mdbWavesEffect size="sm"
    [disabled]="componentForm.invalid" (click)="onAdd()">Save
  </button>
</div>