.facility-data-lbl {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 255px;
  font-weight: bold;
}
.facility-data-header {
  font-weight: bold;
  display: inline;
  width: fit-content;
}

.single-row {
  margin: 5px 0;
}

.item-box {
  background: #f2f2f2;
}
