.float-btn {
    position: fixed;  
    bottom: 75px;         
    right: -8px;           
    z-index: 1000;        
    padding: 10px 20px;  
    line-height: 68px;  
    display: inline-block;
    width: inherit;
    text-align: center;
  }

