<!-- <div>
    <div class="modal-header modal-topic flex-center">
      <button type="button" class="close" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title w-100 font-weight-bold heading-align">Add Response</h4>
    </div>
  
    <div class="modal-body">
      <form [formGroup]="componentForm">
        <app-fp-inquiry-rich-editor
          [html]="componentForm.get('userComment').value"
          (contentChange)="componentForm.patchValue({ userComment: $event }); editorContent = $event">
        </app-fp-inquiry-rich-editor> -->
  
        <!-- User Dropdown -->
        <!-- <div class="md-form mt-3">
          <mdb-select id="userId" [options]="[
            { value: 1, label: 'John Smith' },
            { value: 2, label: 'Jane Doe' }
          ]" formControlName="userId" label="Select User"></mdb-select>
          <mdb-error *ngIf="componentForm.get('userId').invalid && componentForm.get('userId').touched">
            Required
          </mdb-error>
        </div>
      </form>
    </div>
  
    <div class="modal-footer">
        <button type="button" mdbBtn size="sm" color="danger" class="mr-2" (click)="onClose()">Close</button>
        <button type="button" mdbBtn size="sm" color="default" class="mr-2" (click)="onDraft()">Draft</button>
        <button type="button" mdbBtn size="sm" color="info" class="mr-2" (click)="onSave()">Save</button>
    </div>
  </div> -->
  
