.h6{
    text-align: left;
}

.custom-expansion-panel {
    position: relative; 
    z-index: 1; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
  }

  .chat-item {
    width: 100%;
    border: 1px solid rgba(222, 226, 230, 0.5);
    border-radius: 8px;
    padding: 6px;
    margin: 4px 0px 2px 0px;
    position: relative;
}