.minimum-height{
  min-height: 30%;
}

.custom-body {
  padding: 12px;
  background-color: #F2F1EB;
}

.fp-commentr-header-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.comment-area {
  border: 1px solid #6c757d;
  margin-top: 5px;
  padding: 3px;
}

