.border-none-card {
  border: none !important;
  box-shadow: none;
}

.header-style-none {
  background-color: unset !important;
  border: unset !important;
  font-weight: bold;
  font-size: medium;
  padding-bottom: unset !important;
}


.table tr {
  border-bottom: none !important;
  font-size: small;
}

.custom-pre-tag-with-spaces {
  white-space: pre-wrap;
  font-size: 13px;
  margin: unset;
}

.custom-common-security-table {
  background-color: unset !important;
}

.common-security {
  font-size: 1.1rem;
  font-weight: bold;
}

.custom-hr {
  margin: 2% 0% .5% 0% !important;
}

.common-security-headers {
  padding: 4% 0% 1% 0% !important;
  font-size: 0.9rem;
  font-weight: 400;
}

.cash-amount {
  padding: 1% 0% 1% 0% !important;
}
