.view-options{
    display: flex;
}

.flex-container {
    display: flex;
    align-items: center;
  }

  .lable-sty{
    padding: 9px;
  }

  .checked-btn{
    background-color: #33b5e5;
    color: #ffffff;
  }