.comment-box-padding {
  padding: 5px 0px 0px 0px !important;
}

.comment {
  padding: 5px 5px 5px 5px !important;
  border-radius: 0px 0px 10px 10px !important;
  background-image: linear-gradient(#F9F9F9, #F1F1F1);
}

.no-data-message {
  margin: 6px !important;
  font-weight: 500;
  color: #ff7d00;
}

.table thead th {
    border-bottom: 0.5px solid #dee2e6a1;
    background-color:#ced4da1f;
}
