<!--//Deprecated-->


<!--<div class="modal-header modal-topic flex-center">-->
<!--  <h4 class="modal-title w-100 font-weight-bold">-->
<!--    Reject Lead-->
<!--  </h4>-->
<!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->

<!--<div class="modal-body mx-3 modal-detail form-margin">-->

<!--  <h6>-->
<!--    Do you want to reject the lead ?-->
<!--  </h6>-->

<!--  <form class="d-flex flex-column justify-content-start align-items-start w-100-p" [formGroup]="componentForm">-->

<!--    <div class="d-flex flex-row w-100-p">-->
<!--      <div class="md-form m-top-10px m-bottom-10px w-100-p ">-->
<!--        <textarea type="text"-->
<!--                  class="form-control rounded-0 common-comment-area"-->
<!--                  id="remark"-->
<!--                  placeholder="Remark"-->
<!--                  formControlName="remark"-->
<!--                  maxlength="4000"-->
<!--                  mdbInput></textarea>-->

<!--        <label for="remark" style="color: black">Remark *</label>-->

<!--        <mdb-error *ngIf="formErrors.remark.maxlength">Maximum length for Remark-->
<!--          is {{formErrors.remark.maxlength.requiredLength}}</mdb-error>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--<div class="modal-footer modal-end">-->
<!--  <button-->
<!--    type="button" mdbBtn color="light" class="btn-sm relative waves-light" mdbWavesEffect-->
<!--    (click)="mdbModalRef.hide()">Cancel-->
<!--  </button>-->
<!--  <button-->
<!--    type="button" mdbBtn color="primary" class="btn-sm relative waves-light" mdbWavesEffect-->
<!--    [disabled]="!isValid()" (click)="onReject()">REJECT-->
<!--  </button>-->

<!--</div>-->
