<div mdbSticky class="d-flex flex-row justify-content-between page-header">
  <div class="d-flex flex-row align-items-center">
    <a appGoBack class="d-flex flex-row align-items-center">
      <i class="fas fa-angle-left header-icon-back"></i>
    </a>
    <h5><i class="fas fa-box header-icon"></i>
      <span *ngIf="pageType=='new'">Add Workflow Template</span>
      <span *ngIf="pageType=='edit'">Edit Workflow Template</span>
    </h5>
  </div>
  <div class="d-flex  justify-content-end">
    <ng-container *ngIf="isApproveOrRejectValid()">
      <ng-container *appHasAnyPrivilege="masterDataPrivilege.ADMIN_MASTER_DATA_APPROVE_OR_REJECT">
        <button (click)="approve()"
                mdbBtn
                class="custom-button"
                type="button"
                color="success"
                outline="true"
                [disabled]="isDirty()"
                mdbWavesEffect>
          <span *ngIf="pageType=='edit'">Approve</span>
        </button>
        <button (click)="reject()"
                mdbBtn
                type="button"
                class="custom-button"
                color="danger"
                outline="true"
                [disabled]="isDirty()"
                mdbWavesEffect>
          <span *ngIf="pageType=='edit'">Reject</span>
        </button>
      </ng-container>
    </ng-container>
    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_WORKFLOW_TEMPLATE_ADD">
      <button *ngIf="pageType=='new'" (click)="saveUpdate() "
              class="custom-button"
              mdbBtn
              type="button"
              color="secondary"
              outline="true"
              [disabled]="!isValid() || !isDirty()"
              mdbWavesEffect>
        <span>SAVE</span>
      </button>
    </ng-container>
    <ng-container *appHasAnyPrivilege="masterDataPrivilege.ICAS_SETTINGS_WORKFLOW_TEMPLATE_EDIT">
      <button *ngIf="pageType=='edit'" (click)="saveUpdate()"
              class="custom-button"
              mdbBtn
              type="button"
              color="secondary"
              outline="true"
              [disabled]="!isValid() || !isDirty()"
              mdbWavesEffect>
        <span>UPDATE</span>
      </button>
    </ng-container>
  </div>
</div>

<div class="page-search-section d-flex p-2 flex-column justify-content-start align-items-start">
  <form class="d-flex p-2 flex-column justify-content-start align-items-start w-100-p" [formGroup]="componentForm">

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="workFlowTemplateName" maxlength="50" formControlName="workFlowTemplateName"
             class="form-control"
             mdbInput>
      <label for="workFlowTemplateName">Template Name *</label>
      <mdb-error *ngIf="formErrors.workFlowTemplateName.required">Template Name required</mdb-error>
      <mdb-error *ngIf="formErrors.workFlowTemplateName.maxlength">Maximum length for Template Name
        is {{formErrors.workFlowTemplateName.maxlength.requiredLength}}</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="code" maxlength="50" formControlName="code"
             class="form-control"
             mdbInput>
      <label for="code">Template Code *</label>
      <mdb-error *ngIf="formErrors.code.required">Template Code required</mdb-error>
      <mdb-error *ngIf="formErrors.code.maxlength">Maximum length for Template Code
        is {{formErrors.code.maxlength.requiredLength}}</mdb-error>
    </div>


    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <input mdbValidate type="text" id="description" maxlength="50" formControlName="description"
             class="form-control"
             (keydown)="tabPressDisabled($event)"
             mdbInput>
      <label for="description">Description</label>
      <mdb-error *ngIf="formErrors.description.maxlength">Maximum length for Description
        is {{formErrors.description.maxlength.requiredLength}}</mdb-error>
    </div>

    <div class="md-form m-top-10px m-bottom-10px w-100-p">
      <mdb-select
        [options]="optionsSelect"
        formControlName="status"
        id="status"
        placeholder="Status"></mdb-select>
      <label for="status">Status</label>
      <mdb-error *ngIf="formErrors.status.required">Status required</mdb-error>
    </div>
    <ng-container class="w-100-p">
      <label>Workflow Route</label>
      <app-workflow-routing
        class="w-100-p"
        [workflowTemplate]="selectedUpdateDTO"
        (changeWorkflowRouting)="workflowUpdates($event)">
      </app-workflow-routing>
    </ng-container>
    <ng-container *ngIf="pageType=='edit'" class="w-100-p">
      <app-trackeble-info class="w-100-p"
                          [updateDTO]="selectedUpdateDTO">
      </app-trackeble-info>
    </ng-container>
  </form>
</div>
