.modal-topic {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.textarea{
    border: 0.5px solid rgba(97, 95, 95, 0.5);
}
.selectedUser{
    height: 40px;
    border-bottom: 0.5px solid rgba(97, 95, 95, 0.5);
}
.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    
}

.error-text {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

button.btn-sm {
    margin-left: 10px;
}
