.header-icon {
    padding: 5px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin: 0px 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body h6 {
    font-weight: 500;
}