<div class="modal-header modal-topic facility-order-header-padding">
  <h4 class="modal-title w-100 font-weight-bold">{{heading}}</h4>
  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body modal-detail mx-3">
  <div class="d-flex flex-row justify-content-center w-100-p">
    <ngx-sortable [items]="creditFacilityList"
                  [name]="'List'"
                  [showHeader]="false"
                  [listStyle]="listStyle"
                  (listSorted)="listOrderChanged($event)"
                  class="w-95-p">
      <ng-template let-item>
        <div class="d-flex flex-row w-100-p clickable-row">
          <div class="facility-order-number">
            <p class="text-content">{{creditFacilityList.indexOf(item) + 1}}</p>
          </div>
          <mdb-card class="m-2 w-100-p">
            <mdb-card-body class="mdb-card-body-padding">
              <div class="d-flex flex-row justify-content-between w-100-p">
                <div class="d-flex flex-column justify-content-center w-79-p">
                  <p class="text-content">({{ item.creditFacilityTemplateDTO?.facilityTypeName }}
                    ) {{item.creditFacilityTemplateDTO?.creditFacilityName}}
                    <span *ngIf="item.facilityRefCode">{{ " - " + item.facilityRefCode}}</span></p>
                </div>
                <div class="d-flex flex-column justify-content-end">
                  <p class="text-content">({{item.facilityCurrency}}
                    {{this.getFormattedThreeDecimalValues(getMillionValue(item.facilityAmount))}} Mn)
                  </p>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <div>
                    <mdb-icon
                      *ngIf="item.status=='ACT'"
                      [mdbTooltip]="'Remove'"
                      fas icon="trash-alt"
                      (click)="removeData(item)"
                      class="red-text fa-1x" aria-hidden="true"
                    ></mdb-icon>

                    <p *ngIf="item.status=='INA'" style="color: #FF3547;margin: auto;">Removed</p>
                  </div>
                </div>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>

      </ng-template>
    </ngx-sortable>
  </div>
</div>

<div class="modal-footer modal-end update-button-div">
  <button type="button"
          mdbBtn
          color="secondary"
          size="sm"
          class="relative waves-light"
          mdbWavesEffect
          (click)="clearDeletedItem()">Clear
  </button>

  <button type="button"
          mdbBtn
          color="secondary"
          size="sm"
          class="relative waves-light"
          mdbWavesEffect
          (click)="updateOrderAndStatus()">Update
  </button>
</div>
