.comment-area {
    border: 0.5px solid #dfe3e9;
    padding: 3px;
    margin: 0px;
    color: #000000;
    font-size: 14px !important;
    min-height: 35px !important;
}

.description {
    font-size: medium;
}

.yesno-btn-sm {
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    border-left: 0.5px solid #dfe3e9;
    border-right: 0.5px solid #dfe3e9;
    color: #000;
    font-size: 14px !important;
}

.custom-pre-tag-with-spaces{
    text-align: left;
}