<div class="modal-header modal-topic">
  <button type="button" class="close pull-right" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100 heading-align font-weight-bold" id="myModalLabel">{{heading}}</h4>
</div>
<div class="modal-body">
  <form class="d-flex p-2 flex-column justify-content-start align-items-start w-100-p" [formGroup]="componentForm">
    <div class="d-flex flex-row justify-content-between width-100 m-bottom-10px">
      <div class="md-form width-50 m-top-12px">
        <input mdbValidate
               type="text"
               id="nameOfBank"
               maxlength="200"
               formControlName="nameOfBank"
               class="form-control"
               mdbInput
        >
        <label for="nameOfBank">Name of Bank *</label>
      </div>

      <div class="md-form width-50 m-top-12px">
        <input mdbValidate
               type="text"
               id="nameOfBranch"
               maxlength="200"
               formControlName="nameOfBranch"
               class="form-control"
               mdbInput
        >
        <label for="nameOfBranch">Name of Branch *</label>
      </div>

    </div>

    <div class="d-flex flex-row justify-content-between width-100 m-bottom-10px">

      <div class="md-form width-50 m-top-12px">
        <input mdbValidate
               type="text"
               id="accountNo"
               maxlength="200"
               formControlName="accountNo"
               class="form-control"
               mdbInput
        >
        <label for="accountNo">Account No *</label>
      </div>

      <div class="md-form width-50 m-top-12px">
        <input mdbValidate
               type="text"
               id="typeOfAccount"
               maxlength="200"
               formControlName="typeOfAccount"
               class="form-control"
               mdbInput
        >
        <label for="typeOfAccount">Type of the Account *</label>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer modal-end">
  <button
    type="button" mdbBtn color="light" class="btn-sm relative waves-light" mdbWavesEffect
    (click)="onNoClick()">Cancel
  </button>
  <button
    type="button" mdbBtn color="info" class="btn-sm relative waves-light" mdbWavesEffect
    [disabled]="!isValid()" (click)="save()">
    {{otherBankDetail.otherBankDetailsID ? 'Update' : 'Save'}}
  </button>
</div>

