<mdb-card>
  <mdb-card-header class="custom-card-header">
    <div class="d-flex flex-row justify-content-between">
      <div class="">
        LIST OF EXISTING FINANCIAL OBLIGATIONS AS BORROWER/GUARANTOR/INDEMNITOR
      </div>
      <div>
        <ng-container *ngIf="isAbleToEdit()">
          <ng-container *ngIf="identificationGroups.length==0">
            <button class="btn btn-sm btn-secondary cta-btn" type="button" mdbWavesEffect
                    (click)="openModalFinancialObligation($event)"
                    mdbTooltip="Add New" placement="left">
              <mdb-icon fas icon="fas fa-plus" aria-hidden="true"></mdb-icon>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </mdb-card-header>
  <mdb-card-body class="custom-card-body">
    <ng-container *ngIf="identificationGroups.length>0 ; else noLiabilities">
      <table class="table custom-apf-table">
        <ng-container *ngFor="let identificationGroup of identificationGroups">
          <tr style="height: 45px">
            <th colspan="7" style="border: unset !important; text-align: start !important;">
              <b>Identification Number : {{identificationGroup.identificationNumber}}</b>
            </th>
          </tr>
          <tr>
            <th>Name of Financial Institutions</th>
            <th>Signed As</th>
            <th>Securities</th>
            <th>Original Amount (Rs.)</th>
            <th>Present Outstanding (Rs.)</th>
            <th>Arrears if any (Rs.)</th>
            <ng-container *ngIf="isAbleToEdit()">
              <th class="width-10 text-align-center">
                <button class="btn btn-sm btn-secondary cta-btn" type="button" mdbWavesEffect
                        (click)="openModalFinancialObligation($event,identificationGroup)"
                        mdbTooltip="Add New" placement="left">
                  <mdb-icon fas icon="fas fa-plus" aria-hidden="true"></mdb-icon>
                </button>
              </th>
            </ng-container>
          </tr>
          <ng-container
            *ngIf="identificationTypeViceFinancialObligationMap[identificationGroup.identificationNumber].length>0 ; else noData;">
            <tr
              *ngFor="let financialObligation of identificationTypeViceFinancialObligationMap[identificationGroup.identificationNumber]"
              [mdbTooltip]="financialObligation.modifiedUserDisplayName ? 'Updated by ' + financialObligation.modifiedUserDisplayName +' on ' + financialObligation.modifiedDateStr : ''">
              <td>{{financialObligation.financialInstitution}}</td>
              <td class="text-align-center">{{financialObligation.signedAs}}</td>
              <td class="text-align-center">{{financialObligation.securities}}</td>
              <td class="text-align-end">{{getCurrencyFormat(financialObligation.originalAmount)}}</td>
              <td class="text-align-end">{{getCurrencyFormat(financialObligation.presentOutstanding)}}</td>
              <td class="text-align-end">{{getCurrencyFormat(financialObligation.arrears)}}</td>
              <ng-container *ngIf="isAbleToEdit()">
                <td class="text-align-center">
                  <button class="btn btn-sm btn-secondary cta-btn" type="button" mdbWavesEffect
                          (click)="openModalFinancialObligation($event,financialObligation)"
                          mdbTooltip="Edit"
                          placement="left">
                    <mdb-icon fas icon="pencil-alt" aria-hidden="true"></mdb-icon>
                  </button>

                  <button class="btn btn-sm btn-danger cta-btn delete-button" type="button" mdbWavesEffect
                          mdbTooltip="Remove"
                          (click)="remove($event,financialObligation)"
                          placement="left">
                    <mdb-icon fas icon="trash-alt" aria-hidden="true"></mdb-icon>
                  </button>
                </td>
              </ng-container>
            <tr style="height: 30px">
              <td colspan="3" class="font-weight-bold">Total</td>
              <td class="text-align-end font-weight-bold">
                {{getCurrencyFormat(identificationTypeViceTotalValuesMap[identificationGroup.identificationNumber].originalAmountTotal)}}
              </td>
              <td class="text-align-end font-weight-bold">
                {{getCurrencyFormat(identificationTypeViceTotalValuesMap[identificationGroup.identificationNumber].presentOutstandingTotal)}}
              </td>
              <td class="text-align-end font-weight-bold">
                {{getCurrencyFormat(identificationTypeViceTotalValuesMap[identificationGroup.identificationNumber].arrearsTotal)}}
              </td>
              <td></td>
            </tr>
          </ng-container>
          <ng-template #noData>
            <tr>
              <th colspan="7" class="text-align-center">
                <p class="no-data-message">
                  No Records
                </p>
              </th>
            </tr>
          </ng-template>
        </ng-container>
      </table>
    </ng-container>
    <ng-template #noLiabilities>
      <div class="d-flex flex-row justify-content-center">
        <p class="not-auth-message margin-unset">
          No Record(s)
        </p>
      </div>
    </ng-template>
  </mdb-card-body>
</mdb-card>
