.bcc-body {
  line-height: unset !important;
}

.item-box {
  border-width: 2px;
  width: 100%;
}

.data-lbl {
  padding-left: 4.5%;
  padding-right: 3px;
  min-width: 255px;
  //font-weight: bold;
}


